@font-face {
    font-family: graphite;
    src: url(../fonts/graphite-regular.ttf);
}

/*html {
    background-image:url('../Images/room-2147609.jpg');
    enable-background:new;
    background-size:contain;
    background-position:center top;
    background-repeat:no-repeat;
}*/
html {
   height:125%;
   min-height:800px;
}
body {
    padding-top: 0;
    padding-bottom: 0;
    width:100%;
    background-image:url("../Images/room-2147609.jpg");
    background-repeat: no-repeat;
    background-size: 175% 175%;
    background-position: center center;
    height:100%;
    min-height:800px;
    /*overflow:hidden;*/
    /*background-image:url("../Images/monitor-on.png");
    background-size:contain;
    background-position:center top;
    background-repeat:no-repeat;
    background-attachment:fixed;
    enable-background:accumulate;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 90%;
}
.navbar-inverse .navbar-toggle {
    margin-right:30px;
}
#nav {
    background-image:url('../Images/table-new.png');
    background-position:center top;
    background-color: transparent;
    text-shadow: 2px 2px 6px black;
    enable-background:accumulate;
}
.navbar-inverse .navbar-brand {
    color: beige;
}
.navbar-inverse .navbar-brand:hover{
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: beige;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}
#navContainer {
    padding-left:70px;
}
.navbar-fixed-bottom {
    border-width: 0px 0 0 !important;
}
footer {
    z-index:2147483647;
    text-align:center;
    width:100%;
}
#copyright {
    font-size:smaller;
    padding-right:100px;
    padding-top:3px;
    bottom:0;
    float: right;
    color:beige;
}
#copyright a {
    color:beige;
}
#copyright a:hover {
    color:white;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 1px;
}
	
#remote {
    background-image: url("../Images/remote-control-1143461.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 75%;
	width: 25%;
    min-width:200px;
    position:fixed;
    bottom:-35%;
    margin:auto auto auto -12.5%;
    left:50%;
    z-index:10000;
    transform:perspective(525px) translateZ(0) rotateX(60deg) rotateY(0deg) rotateZ(0deg);
    transition:all 1000ms ease-in-out 0s;
    -webkit-transition:all 1000ms ease-in-out 0s;
}
.row {
    margin-left:0;
    margin-right:0;
}
.buttonSpans {
    margin-left:20px;
    margin-top: 3px;
    display:inline-block;
}
.row.equal {
    display: flex;
    flex-wrap: wrap;
}
/*#top {
    background-image: url("../Images/top.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    height:50px;
}*/
#tl {
    background-image: url("../Images/tl.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    height:50px;
}
#t {
    background-image: url("../Images/t.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    height: 50px;
}
#tr {
    background-image: url("../Images/tr.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    height:50px;
}
#l {
    background-image: url("../Images/l.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
#r {
    background-image: url("../Images/r.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
#mid {
}
#mainContent {
    height:100%;
      display:flex;
      flex-direction:column;
      flex-shrink: 0;
      flex-basis: auto;
}
#bot {
    /*background-image: url("../Images/b.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    top: 0;
    bottom:0;
    min-height:100px;*/
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      flex-shrink: 0;
      flex-basis: auto;
}
#bl {
    background-image: url("../Images/bl.png");
    background-repeat: no-repeat;
    background-size: 100% 937px;
    background-position: center top;
}
#b {
    background-image: url("../Images/bbb.png");
    background-repeat: no-repeat;
    background-size: 100% 937px;
    background-position: center top;
    /*min-height:200px;*/
}
#br {
    background-image: url("../Images/br.png");
    background-repeat: no-repeat;
    background-size: 100% 937px;
    background-position: center top;
}

#RenderBody {
    /*background-color: #c3e6fc;*/
    background-color:#88A4F2;
    border: 8px solid #000077;
    padding-left:0 !important;
    padding-right:0 !important;
}
#topper {
    padding-top:10px;
    padding-left:20px;
    background-color:#9FB6F4;
}
#topperCRUD {
    padding-top:10px;
    padding-left:20px;
    background-color:#88A4F2;
}

.form-group, .form-group div, .form-group label {
    margin-left:20px;
}
#editForm {
    /*margin-bottom:5000px;*/
}
.topButton {
}
form p {
    padding-left:20px;
    background-color:#9FB6F4;
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:5px solid #000077;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.owl-dot {

}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
    /*background-color: #c3e6fc;*/
    background-color:#88A4F2;
}
.owl-dots {
    background-color:#9FB6F4;
    border-radius: 20px;
    border: 8px solid #000077;
}
.owl-stage {
    background-color:#9FB6F4;
}
.owl-stage-outer {
    background-color: #87CEFA;
    padding: 15px 0;
    border-radius: 20px;
    border: 8px solid #000077;
    background-color:#9FB6F4;
}
.owl-carousel {
    margin:0px;
    padding:10px;
    color: rgb(255, 76, 76);
}
h1 {
    /*font-family: 'Monofett', cursive;*/
    font-family: graphite, cursive;
    font-size:4em;
    margin-left:20px;
}
.table {
    height:100px;
}
tr {
    margin:0 !important;
    padding:0 !important;
}
.table > tbody > tr > td {
    margin:0 !important;
    padding:0 !important;
}
figcaption {
    background-color: rgba(200,200,200, 0.5);
    position:absolute;
    bottom:0;
    left:0; 
    right:0;
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align:center;
}
figcaption > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:bold;
    padding:0;
    margin:5px auto 5px 10px;

}
figcaption > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:bold;
    padding:0;
    margin:5px auto 5px 10px;

}

#browseTitle {
    font-size: 3em;
    font-family: 'Lakki Reddy', cursive;
    font-weight: bold;
    text-shadow: 0 0 2px grey;
    vertical-align: middle;
    color: #000077;
}

#detailsPic {

}
@media only screen and (max-width: 1200px) {
    body {
        /*background-size:unset;*/
    }
    #remote {
        bottom:-40%;
    }
}
@media only screen and (max-width: 767px) {
    #remote {
        display:none;
    }
    /*#tl, #tr, #l, #r, #bl, #br {
        width:0;
        padding:0;
        margin:0;
    }*/
    html {
        height:1400px;
    }
}

@media only screen and (max-width: 420px) {
    .col-xs-1 {
        padding-right: 0;
        padding-left: 0;
    }
    html {
        height:1500px;
    }
}